node_modules/
dist/
y/
server/.env
firebase-debug.log
*.log
.DS_Store
.agents/
.claude/
.firebase/
.github/
.windsurf/
firebase.json/
.skills-lock.json/
.firebaserc
firebase.json
skills-lock.json
vite.config.js
